.providers {
  padding-top: 100px;
  padding-bottom: 100px;
}

.providers__text-accent {
  color: #683d83;
}

.providers__list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .providers__list-wrapper {
    grid-gap: 46px;
  }
}

@media screen and (min-width: 375px) and (max-width: 645px) {
  .providers__list-wrapper {
    grid-template-columns: 1fr;
  }

  .providers {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  #providers__title {
    margin-bottom: 40px;
  }
}

