.products {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: solid 1px #000;
}

.products__title {
  text-align: center;
  margin-bottom: 80px;
}

.products__list-wrapper {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease;
  overflow: hidden;
}

.products__button-wrapper {
  display: flex;
  justify-content: center;
}

#products__button {
  padding-left: 44px;
  padding-right: 44px;
  margin-top: 55px;
}

@media screen and (max-width: 1024px) {
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .products {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .products__title {
    max-width: 320px;
    margin: 0 auto 30px;
  }

  #products__button {
    display: none;
  }
}
