.faq {
  padding-top: 80px;
  border-bottom: solid 1px #000;
  padding-bottom: 80px;
}

.faq__spacer {
  padding-top: 100px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .faq {
    padding: 60px 20px;
  }

  .faq__spacer {
    padding-top: 80px;
  }
}
