.groupCard {
  width: 1320px;
  height: 460px;
  border-radius: 20px;
  border: 1px solid #f4f4f4;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.groupCard__image {
  width: 100%;
}

.groupCard__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 38px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: -1%;
  color: #fff;
}
