.groupCard {
  width: 100%;
  box-sizing: border-box;
}

.groupCard__content-box {
  border-radius: 20px;
  height: 460px;
  max-width: 1320px;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

.groupCard__dark-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.groupCard__content-container {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
}

.groupCard__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.01em;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

.groupCard__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.groupCard__body-container {
  max-width: 584px;
  padding-right: 60px;
}

.groupCard__body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 0;
  max-width: 584px;
  padding-right: 60px;
}
