.productCard {
  min-height: 470px;
  width: 400px;
  border-radius: 20px;
  margin-right: 40px;
  background-color: #f2f2f2;
}

.productCard__image {
  max-height: 220px;
  width: 400px;
  object-fit: cover;
}

.productCard__content {
  margin: 30px 24px;
}

.productCard__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.productCard__text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #5c5c5c;
}

.productCard__price {
  font-family: 'Roboto', sans-serif;
  padding: 3px 16px;
  font-size: 18px;
  line-height: 28px;
  background: #683d83;
  border-radius: 5px;
  color: white;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .productCard {
    min-height: 508px;
    width: 284px;
  }

  .productCard__content {
    margin: 26px 16px;
  }

  .productCard__image {
    width: 284px;
    height: 284px;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {

}

