.faqCard {
  margin: 60px 0;
  transition: all 0.5s ease;
}

.faqCard__expand {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: white;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  flex-shrink: 0;
  cursor: pointer;
}

.faqCard__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.faqCard__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin: 0;
  margin-right: 10px;
}

.faqCard__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  transition: all 0.5s ease;
  margin: 0;
  margin-top: 30px;
}
