.faqCard__expand {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  border: none;
  background-color: white;
  background-repeat: no-repeat;
}

.faqCard__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.faqCard__expand {
  flex-shrink: 0;
}
