.treat {
  padding: 40px 60px 100px 60px;
  border-bottom: 1px solid #000;
}

.treat__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -1%;
  color: #000;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.treat__text-accent {
  color: #683d83;
}

.treat__grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  list-style-type: none;
  padding: 0;
}

