@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts/fonts.css');

:root {
  scroll-behavior: smooth;
}

.app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: #000;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
