.navigation {
  background-color: #fff;
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
  position: fixed;
  height: 82px;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.6s;
}

.navigation__menu-wrapper {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  padding: 12px 0;
  z-index: 2;
  transition: all 0.6s;
  width: calc(100% - 120px);
  max-width: 1320px;
}

.scroll-down {
  /* transform: translate(-50%, -100%); */
  top: -100px;
  height: 0;
}

.scroll-up {
  top: 0;
}

.navigation__logo-container {
  display: flex;
  align-items: center;
}

.navigation__logo-container:hover {
  cursor: pointer;
}

.navigation__logo-container:hover > .navigation__logo {
  transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  background: url('../../images/Logo-hover.png') no-repeat center;
}

.navigation__logo-container:hover > .navigation__logo_text {
  transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  color: #683d83;
}

.navigation__logo {
  width: 32px;
  height: 51px;
  background: url('../../images/Logo_black.png') no-repeat center;
  margin-right: 12px;
  z-index: 10;
}

.navigation__logo_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000000;
}

.header__logo {
  width: 32px;
  height: 51px;
  background: url('../../images/Logo_white.png') no-repeat center;
  margin-right: 12px;
}

.header__logo_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.03em;
  color: #ffffff;
  text-transform: uppercase;
}

.header__logo-container:hover {
  cursor: pointer;
}

.header__logo-container:hover > .header__logo_text {
  color: #683d83;
}

.header__logo-container:hover > .header__logo {
  background: url('../../images/Logo-hover.png') no-repeat center;
}

.navigation__logo:hover {
  background: url('../../images/logo-hover.svg') no-repeat center;
}

.navigation__nav-container {
  display: flex;
}

.navigation__nav-link {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.01em;
  padding-left: 40px;
  transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  text-decoration: none;
  color: #000;
}

.navigation__nav-link:visited {
  color: black;
}

.navigation__nav-link:hover {
  cursor: pointer;
  color: #683d83;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .navigation__logo {
    width: 21px;
    height: 33px;
    background: url('../../images/Logo_black.png') no-repeat center;
    margin-right: 12px;
    z-index: 10;
  }

  .navigation__logo_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #000000;
  }

  .navigation__hamburger {
    background-image: url('../../images/hamburger-black.svg');
    height: 14px;
    width: 30px;
    padding-left: 0;
    margin: 10px 0;
    position: relative;
  }
  .navigation__menu-wrapper {
    width: 90%;
  }
  .navigation {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    height: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
