.navigation {
  background-color: #fff;
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
  position: fixed;
  height: 82px;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.6s;
}

.navigation__menu-wrapper {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  padding: 12px 0;
  z-index: 2;
  transition: all 0.6s;
  width: 100%;
  max-width: 1320px;
}

.scroll-down {
  /* transform: translate(-50%, -100%); */
  top: -100px;
  height: 0;
}

.scroll-up {
  top: 0;
}

.navigation__logo-container {
  display: flex;
  align-items: center;
}

.navigation__logo-container:hover {
  cursor: pointer;
}

.navigation__logo {
  z-index: 10;
  transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  width: 158px;
  height: 51px;
  background: url('../../images/logo-hover.svg') no-repeat center;
}

.navigation__logo:hover {
  background: url('../../images/logo-hover.svg') no-repeat center;
}

.navigation__nav-container {
  display: flex;
}

.navigation__nav-link {
  list-style-type: none;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.01em;
  padding-left: 40px;
  transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}

.navigation__nav-link:hover {
  cursor: pointer;
  color: #683d83;
}