.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customers__content-box {
  border-radius: 20px;
  height: 743px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center bottom -300px;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

.customers__content-container {
  padding: 40px 60px 60px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 1;
}

.customers__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.customers__body-container {
  max-width: 584px;
  padding-right: 60px;
}

.customers__body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 0;
}

@media screen and (max-width: 1120px) {
  .customers__row {
    flex-direction: column;
    align-items: flex-start;
  }

  #customers__button {
    margin-top: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .customers {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .customers__body-container {
    padding-right: 0;
    max-width: 100%;
  }

  .customers__body {
    margin-top: 20px;
  }

  .customers__content-box {
    background-position: center center;
    background-size: cover;
  }
}
