.footer {
  background-color: #000;
  padding-top: 40px;
  padding-bottom: 60px;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}

.footer__content {
  display: flex;
}

.footer__column_lg {
  display: flex;
  flex-direction: column;
  flex-basis: 66.6666667%;
  max-width: 66.6666667%;
}

.footer__column_sm {  
  display: flex;
  flex-direction: column;
  flex-basis: 16.6666667%;
  max-width: 16.6666667%;
}

.footer__heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.footer__link {
  margin: 10px 0 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .footer__column_lg {
    flex-basis: 70%;
    max-width: 70%;
  }

  .footer__column_sm {  
    flex-basis: 15%;
    max-width: 15%;
  }
}

@media screen and (min-width: 769px) and (max-width: 930px) {
  .footer__column_lg {
    flex-basis: 64%;
    max-width: 64%;
  }

  .footer__column_sm {  
    flex-basis: 18%;
    max-width: 18%;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__column_lg {
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }

  .footer__column_sm {  
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
  }
}

