.primlancer {
  padding-top: 100px;
  padding-bottom: 80px;
  border-bottom: solid 1px #000;
}

.primlancer__content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 860px;
  margin: 0 auto;
  position: relative;
}

.primlancer__video-wrapper {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.primlancer__video {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 46px;
  width: 100%;
  height: 100%;
  max-width: 860px;
  max-height: 449px;
}

.primlancer__play-icon {
  z-index: 1;
  cursor: pointer;
}

#primlancer__video-title {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primlancer__video-title_hidden {
  display: none;
}

.primlancer__overlay {
  margin: 9px 22px 14px;
}

@media screen and (max-width: 1024px) {

}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .primlancer {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  
  #primlancer__section-title {
    margin-bottom: 40px;
  }
  
  #primlancer__video-title {
    margin-top: 40px;
    margin-bottom: 30px;
    top: 100%;
    color: #000;
    width: 100%;
  }

  #primlancer__button {
    margin-top: 90px;
  }
}

@media screen and (min-width: 881px) and (max-width: 960px) {
  .primlancer__overlay {
    margin: 12px 21px 18px;
  }
}

@media screen and (min-width: 700px) and (max-width: 880px) {
  .primlancer__overlay {
    margin: 19px 11px 24px;
  }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
  .primlancer__overlay {
    margin: 14px 9px 20px;
  }
}

@media screen and (min-width: 375px) and (max-width: 599px) {
  .primlancer__overlay {
    margin: 11px 6px 15px;
  }
}