.group {
  padding: 100px 60px;
  border-bottom: 1px solid #000;
  width: 100%;
  box-sizing: border-box;
}

.group__content-box {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}

.group__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.01em;
  color: #000;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.group__text-accent {
  color: #683d83;
}

.group__list-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 60px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
